.pcontainer{
	position: relative;
	width: 1920px;
	min-height: 300px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
}
.bg-img, .img{
	display: block;
	width: 100%;
	height: 100%;
}
.section{
	position: relative;
	width: 1920px;
}
.banner{
	position: relative;
	width: 1920px;
	left: 50%;
	margin-left: -960px;
}
.img-link, .image-ele, .btn-ele, .link-ele{
	position: absolute;
	display: inline-block;
}
.btn-ele button {
	display: inline-block;
	width: 100%;
	height: 100%;
  	border: none;
  	background-color: transparent;
  	outline: none;
  	text-align: center;
  	cursor: pointer;
  	min-width: 32px;
  	vertical-align: middle;
  	color: #333;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -webkit-transition: all 0.25s;
  	transition: all 0.25s;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
  	border-radius: 2px;
}
.img-link a{
	display: block;
	width: 100%;
	height: 100%;
}
.link-ele a{
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(about:blank);
	vertical-align: middle;
}
.text-ele p{
	margin: 0;
	padding: 0;
}
.ani-stage{
	height: 100%;
	width: 100%;
	-webkit-perspective: 500px;
    -moz-perspective: 500px;
    perspective: 500px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: peserve-3d;
    transform-style: preserve-3d;
}
.ani{
	animation-play-state: paused;
}
.ani-ele{
	-webkit-animation-fill-mode: both;
  	-moz-animation-fill-mode: both;
  	animation-fill-mode: both;
}
.ani-ele.active{
	/*opacity: 1;*/
}
@keyframes resetAni{
	0%,100%{
		opacity: 0;
	}
}
/* new css */
.pwhole{
	position: relative;
	width: 100%;
	min-height: 20px;
}
.pwhole img{
	position: relative;
	width: 1920px;
	left: 50%;
	margin-left: -960px;
}
.pwhole p{
	margin: 0;
}
.text-ele{
	z-index:1;
}
img{
	display: block;
	border: 0;
}
.pwhole .reset-img{
	left: auto;
	margin-left: auto;
}
.link-ele{
	z-index: 1;
}
.link-ele a{
	display: inline-block;
	width: 100%;
	height: 100%;
	background-image: url(about:blank);
	vertical-align: middle;
}

/* topic css */
.activity {
    position: relative
}

.activity img {
    display: block
}

.activity-banner {
    position: relative;
    margin: 0 auto;
    overflow: hidden
}

.activity-banner .activity-img,.activity-banner>img {
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -960px;
    width: 1920px
}

.cus-box{
 	position:absolute;
    width:1200px;
    height: 100%;
    left:50%;
    margin-left:-600px;
    top:0;
}
.pro-banner__safe {
    position:absolute;
    width:1200px;
    height: 100%;
    left:50%;
    margin-left:-600px;
    top:0;
    z-index: 1;
}
.pro-banner__price {
    position:absolute;
    top:386px;
    left:40px;
}
.pro-banner__price.pos-left {
    left:40px;
    text-align: left;
}
.pro-banner__price.pos-right {
    left:auto;
    right:40px;
    text-align: left;
}
.pro-banner__price.pos-center {
    width:100%;
    left:50%;
    margin-left:-600px;
    text-align:center;
}
.pro-banner__price .price{
    line-height:1.5;
    vertical-align:bottom;
    font-size:36px;
    color:#ff6a02;
    word-spacing: -6px;

}
.pro-banner__price .price .price-sign {
    font-size:24px;
    letter-spacing:-2px;
    vertical-align:middle;
}
.pro-banner__price .price .price-range {
    margin-bottom:0;
    font-size:16px;
    vertical-align:middle;
}
.pro-banner__price .price .price-desc {
    display:inline-block;
    padding:6px 10px;
    margin-bottom:7px;
    margin-left:8px;
    line-height:1;
    vertical-align:middle;
    font-size:16px;
    border:1px solid #ff6a02;
    border-radius:2px;
    box-sizing:border-box;
}
.pro-banner__price .price span{
	display:inline-block;
 	word-spacing: 0px;
}
.pro-banner__price .price .price-tip{
	font-size:18px;
    line-height:30px;
    color:#666;
}
.pro-banner__price .price .uline {
    text-decoration:line-through;
    font-size: 16px;
}
.ft24 {
    font-size:24px
}
.buy-btn{
    display: inline-block;
	position: absolute;
    top: 0;
    left: 50%;
    width: 190px;
    height: 48px;
    border: 1px solid #f75c20;
    border-radius: 5px;
    line-height: 48px;
    font-size: 18px;
    color: #fff;
    filter: none;
    background-color: #ff6102;
    background-image: linear-gradient(#ff6202,#ff7d02);
    text-align: center;
    text-indent: 0;
    z-index: 1;
    text-decoration: none;
}